In [1]:
int(2.7)

2

In [2]:
a = int(4.7)
b = float(2.5)
c = bool(1)
d = bool(0)
e = bool(2)

print(a)
print(b)
print(c)
print(d)
print(e)

4
2.5
True
False
True

In [3]:
mylist = []
for i in range(100):
    mylist.append(i+1)

print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
mylist1 = [100,200,300,400,500]
print(mylist1)

mylist2 = mylist1
print(mylist2)

mylist3 = [i*i for i in mylist2]
print(mylist3)

[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]
[10000, 40000, 90000, 160000, 250000]

In [16]:
t = (1,5,10)

# 인덱스

second = t[1]
last = t[-1]
print(second, last)

# 슬라이스

s1 = t[1:2]
s2 = t[1:]
print(s1,s2)

5 10
(5,) (5, 10)

In [17]:
a = (1,2)
b = (3,4,5)
c = a+b
print(c)

c = a*3
print(c)

(1, 2, 3, 4, 5)
(1, 2, 1, 2, 1, 2)

In [19]:
name = ('john', 'kim')
print(name)

firstname, lastname = ("john", "kim")
print(firstname)
print(lastname)

('john', 'kim')
john
kim

In [23]:
# 튜플은 변경이 안된다...
number1 = [1,2,3,4]
print(number1)
number1[0] = 100
print(number1)
#이건 변경이 되지만

number1 = (1,2,3,4)
print(number1)
number1[0] = 100    #type error 발생하게됨. -> 튜플은 데이터 변경이 불가능
print(number1)

[1, 2, 3, 4]
[100, 2, 3, 4]
(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [24]:
# tuple을 list로 바꿔보기

number1 = (1,2,3,4)
number2 = list(number1)
# number2는 튜플형 number1을 리스트로 만든다.
print(number2)
number2[0] = 100
print(number2)

[1, 2, 3, 4]
[100, 2, 3, 4]

In [27]:
dic1 = [('나윤상', 20), ('나수정', 40)]
mydict = dict(dic1)

print(mydict['나윤상'])

dic2 = {"윤상" : 15, "수정스": 24}
thedic = dict(dic2)
print(thedic["수정스"])

20
24

In [29]:
scores = {"철수": 90, "민수": 99, "영희" : 88}
print(scores)
# dictiiony 수정해보기

scores["민수"] = 0
scores["길동"] = 96
del scores["영희"]
# 값을 할당하는건 키워드와 value를 제시하면 된다
# 삭제하는 방법은 del을 넣어서 지워버리면 된다.
print(scores)

{'철수': 90, '민수': 99, '영희': 88}
{'철수': 90, '민수': 0, '길동': 96}

In [30]:
for key in scores:
    val = scores[key]
    print("%s : %d" % (key, val))

철수 : 90
민수 : 0
길동 : 96

In [33]:
camile = {
    'health' : 575.6,
    'health regen' : 1.7,
    'mana' : 338.8,
    'mana regen' : 1.63,
    'melee' : 125,
    'attack damage': 60,
}
print(camile["attack damage"])

60

In [40]:
score = 102
if (score <= 70):
    print("4등급. 재수강 입니다.^^")
elif (score <=80) and (score > 70):
    print("3등급. 당신의 학점은 C 입니다.")
elif (score <=90) and (score > 80):
    print("2등급. 당신의 학점은 B 입니다.")
elif (score <=100) and (score >90):
    print("1등급. 당신의 학점은 A 입니다.")
else :
    print("이런 시험점수는 없어요.^^")

이런 시험점수는 없어요.^^

In [42]:
i = 0
while i <=10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [45]:
num = 5
i = 1

while (i*i) <= (num*num):
    print(i, " ", i*i)
    i = i+1

1   1
2   4
3   9
4   16
5   25

In [46]:
sum = 0 
for i in range(11):
    sum = sum+1
print(sum)

11

In [48]:
list = ["this", "is", "a", "book","1!!"]

for s in list:
    print(s)

this
is
a
book
1!!

In [52]:
height = 100
bounce = 0

# range(a,b): a부터 b-1 까지의 숫자 값을 리턴 +1씩 하면서
# round(a,b): a값을 소수점 b자리 만큼 반올림

for bounce in range(1,10):
    height = height * 0.6
    print(bounce, round(height,4))

1 60.0
2 36.0
3 21.6
4 12.96
5 7.776
6 4.6656
7 2.7994
8 1.6796
9 1.0078