In [2]:
import numpy as np
import pandas as pd

In [4]:
# series : pandas 의 기본 객체, 1차원 배열을 나타냄

s1 = pd.Series([1,2,3])
print(s1)
#왼쪽이 index, 오른쪽이 value

0    1
1    2
2    3
dtype: int64

In [5]:
s2 = pd.Series(['a','b','c'])
print(s2)
# dtype 으로 type을 유추하여 보여준다.

0    a
1    b
2    c
dtype: object

In [7]:
s3 = pd.Series(np.arange(200))
print(s3)

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int32

In [8]:
s4 = pd.Series([1,2,3],[100,200,300])
print(s4)
# 뒤가 index, 앞이 value

100    1
200    2
300    3
dtype: int64

In [12]:
s5= pd.Series(np.arange(5), np.arange(100,105), dtype = np.int16)
print(s5)

100    0
101    1
102    2
103    3
104    4
dtype: int16

In [17]:
print(s5.index)
print(s5.values)

Int64Index([100, 101, 102, 103, 104], dtype='int64')
[0 1 2 3 4]

In [18]:
s5[103] = 70
print(s5)

100     0
101     1
102     2
103    70
104     4
dtype: int16

In [24]:
s = pd.Series([1,2,5,23435,12,1,233,5,3,2,np.NaN])
print(s)
print(len(s))
print(s.size)
print(s.shape)
print(s.unique)
print(s.count)

0         1.0
1         2.0
2         5.0
3     23435.0
4        12.0
5         1.0
6       233.0
7         5.0
8         3.0
9         2.0
10        NaN
dtype: float64
11
11
(11,)
<bound method Series.unique of 0         1.0
1         2.0
2         5.0
3     23435.0
4        12.0
5         1.0
6       233.0
7         5.0
8         3.0
9         2.0
10        NaN
dtype: float64>
<bound method Series.count of 0         1.0
1         2.0
2         5.0
3     23435.0
4        12.0
5         1.0
6       233.0
7         5.0
8         3.0
9         2.0
10        NaN
dtype: float64>

In [27]:
a= np.array([2,2,2,2,np.NaN])
print(a.mean())
b = pd.Series(a)
b.mean()

nan

2.0

In [28]:
s.mean()

2369.9

In [29]:
s.value_counts()
# 각 value 가 몇번 나왔는지를 보여준다.

5.0        2
2.0        2
1.0        2
23435.0    1
3.0        1
233.0      1
12.0       1
dtype: int64

In [30]:
s[[5,7,8]]

5    1.0
7    5.0
8    3.0
dtype: float64

In [31]:
s1 = pd.Series([1,2,3,4],['a','b','c','d'])
s2= pd.Series([5,7,9,0],['d','c','b','a'])

In [32]:
s1 +s2 # 같은 인덱스끼리 더하여 결과를 보여준다.

a     1
b    11
c    10
d     9
dtype: int64

In [33]:
s1 ** 2 # 스칼라 연산 브로드캐스팅 모든 value 에 적용됨

a     1
b     4
c     9
d    16
dtype: int64

In [34]:
s1 ** s2 # s1 value에서 s2 value를 지수로 곱함

a       1
b     512
c    2187
d    1024
dtype: int64

In [35]:
# index pair 가 맞지 않는 경우

s1['k'] = 7
s2['e'] = 8

print(s1)
print(s2)

a    1
b    2
c    3
d    4
k    7
dtype: int64
d    5
c    7
b    9
a    0
e    8
dtype: int64

In [38]:
s = pd.Series(np.arange(10), np.arange(10)+1)
print(s)

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int32

In [39]:
print(s>5)

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool

In [41]:
print(s[s>5])

7     6
8     7
9     8
10    9
dtype: int32

In [42]:
print(s[s %2 == 0])

1    0
3    2
5    4
7    6
9    8
dtype: int32

In [43]:
s = pd.Series(np.arange(100,105), ['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [46]:
s.drop('e')
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [47]:
s = pd.Series(np.arange(100,105), ['a','b','c','d','e'])

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [48]:
s[1:3]

1    101
2    102
dtype: int32

In [49]:
s2 = pd.Series(np.arange(100,105), ['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [50]:
s2[1:3]

b    101
c    102
dtype: int32

In [58]:
## data frame: 2차원으로 확대된 버전
import pandas as pd
train_data = pd.read_csv('./train.csv')

FileNotFoundError: [Errno 2] No such file or directory: './train_csv'

In [56]:
train_data.head()

NameError: name 'train_data' is not defined

In [59]:
train_data.shape

NameError: name 'train_data' is not defined

In [60]:
data = {'a' : 100 , 'b': 200, 'c':300}
pd.DataFrame(data, index = {'x','y','z'})

     a    b    c
y  100  200  300
x  100  200  300
z  100  200  300

In [62]:
a = pd.Series([100,200,300], {'a','b','c'})
b = pd.Series([1010,2100,3100], {'a','b','c'})
c = pd.Series([1030,2300,3300], {'a','b','c'})

pd.DataFrame([a,b,c])

      a     b     c
0   100   200   300
1  1010  2100  3100
2  1030  2300  3300