In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [1,3,5,7,9]
s = pd.Series(data)
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [7]:
dat = {
    'year' : [2016,2017,2018],
    'GDP RATE' : [2.8,3.1,3.0],
    'GDP' : ['1.637M','1.73M','1.83M']
}

df = pd.DataFrame(dat)
print(df)
df[df['year']>=2016]

   year  GDP RATE     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

   year  GDP RATE     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [11]:
import pandas as pd

dict_data = {'a':1,'b':2,'c':3}
series_data=pd.Series(dict_data)
print(type(series_data))

<class 'pandas.core.series.Series'>

In [17]:
import pandas  as pd

s = pd.Series([1,1,2,3,4,5,1,2,3,1,2,3,4,5,np.NaN])
s.size
s.unique()
s.count
s.mean() # NaN은 갯수 제외하고 계산함

# numpy는 불가능

2.642857142857143

In [20]:
s = pd.Series(np.arange(10),np.arange(10)+1)
s[s>4]

6     5
7     6
8     7
9     8
10    9
dtype: int32

In [23]:
s = pd.Series(np.arange(1,6),['a','b','c','d','e'])
s
s.drop('d')

a    1
b    2
c    3
e    5
dtype: int32

In [24]:
import pandas as pd
df1 = pd.DataFrame({'color': ['blue','green','red','black'],
                   'product id': [1,2,3,4],
                    'product name': ['a','b','c']
                   })


print(df1)

ValueError: arrays must all be same length

In [2]:
data= pd.read_csv("./economy.csv")
data

NameError: name 'pd' is not defined

In [15]:
import pandas as pd
import numpy as np

table = pd.DataFrame({'저가' :[53800, 236000, 110000 ],
                     '고가':[54800,234500,113000]},
                     index=['삼성전자','SK','현대차'])

table = table[['고가','저가']]
table.drop(['저가'],axis = 1)

          고가
삼성전자   54800
SK    234500
현대차   113000

In [24]:
df = pd.DataFrame(np.arange(0,16).reshape(4,4))


df.index = ['r0','r1','r2','r3']
df.columns = ['c0','c1','c2','c3']

df.set_index('c0',drop = False)
df.set_index('c0',append = True)
df.set_index(['c2','c3'])

       c0  c1
c2 c3
2  3    0   1
6  7    4   5
10 11   8   9
14 15  12  13

In [29]:
exam_data = {'이름':['서준','우현','인아'] ,
            '수학':[90,80,70],
            '영어':[98,89,95],
            '음악':[85,95,100],
            '체육':[100,90,90]
                   }
df = pd.DataFrame(exam_data) 

print(df.iloc[::2])
print("\n")
print(df.iloc[0:3:2])

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90